<div class='events loop'>
	
	<div class='header'>
		<h1 class='heading'>Your events</h1>
		<%= link_to 'New event »', new_event_path, class: 'new-button modal-link' %>
	</div>
	
	<div class='body'>
		<% if @events.exists? %>
			
			<% @events.each do |event| %>
			
				<%= render 'events/single', event: event %>
			
			<% end %>
			
		<% else %>
		
			<span class='no-results'>No events here. <%= link_to 'Create an event now', new_event_path, class: 'link' %></span>
		
		<% end %>		
	</div>
	
</div>