<% if request.format == :html %>
	<% content_for :background do %>
		<%= render file: 'events/index.html.erb' %>
	<% end %>
<% end %>

<div class='form-container' id='new-event'>
	
	<div class='header'>
		New Event
	</div>
	
	<div class='body'>
		<%= render 'events/forms/new' %>
	</div>
	
	<div class='footer'>
		
	</div>	
</div>
