<% contact = @contact if @contact %>

<div class='contact record' id='contact_<%= contact.id %>'>
	
	<div class='information'>
		<span class='name'> <%= "#{contact.fullname}" %><span class='name'><%= contact.vendor.name if contact.vendor %></span>
		
	</div>
</div>