<div class='vendors loop'>
	
	<div class='header'>
		<h2 class='heading'>Vendors</h2>
		<%= link_to 'Add new vendor »', new_event_vendor_path(@event), class: 'new-link' %>
	</div>
	
	<div class='body'>
		<% if @vendors.exists? %>

			<% @vendors.each do |vendor| %>

				<%= render 'vendors/single', vendor: vendor %>

			<% end %>

		<% else %>

			<span class='no-results'>No vendors here</span>

		<% end %>
	</div>
	
</div>