<div class='timelines loop'>
	
	<div class='header'>
		<h2 class='heading'>Timelines</h2>
		<%= link_to 'New Timeline »', new_event_timeline_path(@event), class: 'new-link' %>
	</div>
	
	<div class='body'>
		<% if @timelines.exists? %>

			<% @timelines.each do |timeline| %>

				<%= render 'timelines/single', timeline: timeline %>

			<% end %>

		<% else %>

			<span class='no-results'>No timelines yet</span>

		<% end %>		
	</div>
	
</div>
