@import '_mixins';

.flash {
	width: 90%;
	margin: 0 auto 0;
	@include border-radius(4px);
	margin-top: 15px;
	font-size: 14px;
	@include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.20));
}
.flash.notice {
	color: rgb(0, 0, 0);
	border: 1px solid #E8DEA0;
	background: #fefcea;
}
.flash.error {
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
	border: 1px solid #D96464;
	background: #ff958c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTU4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzVmNWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff958c 0%, #cc5f5f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff958c), color-stop(100%,#cc5f5f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff958c 0%,#cc5f5f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff958c 0%,#cc5f5f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff958c 0%,#cc5f5f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff958c 0%,#cc5f5f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff958c', endColorstr='#cc5f5f',GradientType=0 ); /* IE6-8 */
	
}
.flash .msg {
	display: block;
	padding: 10px;
}