@import '_colors';

#new-account-wrap {
	width: 960px;
	margin: 0 auto 0;
	padding-top: 50px;
}
#new-account-wrap .splash {
	box-sizing: border-box;
	width: 50%;
	float: left;
	padding: 25px;
}
#new-account-wrap .splash .header {
	font-weight: 600;
	font-size: 24px;
	margin-top: 100px;
}
#new-account-wrap .splash .content {
	
}
#new-account-wrap .sign-up {
	box-sizing: border-box;
	width: 50%;
	float: right;
	padding: 0 25px;
}

#welcome-account {
	width: 900px;
	margin: 100px auto 0;
}
#welcome-account .header {
	font-weight: 600;
	font-size: 24px;
}
#welcome-account .list {
	font-size: 14px;
	list-style: decimal;
	padding: 10px 25px;
}
#welcome-account .link {
	color: $bs-blue;
}