@import '_colors';

.contact {
	font-size: 14px;
	position: relative;
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
	border-bottom: 1px solid rgb(240, 240, 240);
}
.contact:last-child {
	border-bottom: none;
}
.contact .container {
	float: left;
	border-left: 1px solid rgb(240, 240, 240);
	height: 50px;
	box-sizing: border-box;
	width: 20%;
	padding: 0 15px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}