@import '_colors';
@import '_mixins';

#dashboard-container {
	position: relative;
	padding-left: 200px;
	width: auto;
	height: 100%;
}
#dashboard-container .menu {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	box-sizing: border-box;
	border-right: 1px solid rgb(240, 240, 240);
	height: 100%;
}
#dashboard-container .menu li {
	position: relative;
	border-bottom: 1px solid rgb(240, 240, 240);
}
#dashboard-container .menu li:hover .arrow {
	color: $main-blue-dark-accent;
}
#dashboard-container .menu li:hover a {
	color: $main-blue-dark-accent;
}
#dashboard-container .menu a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	color: rgb(150, 150, 150);
}
#dashboard-container .menu .arrow {
	font-size: 24px;
	font-weight: 300;
	position: absolute;
	top: 0;
	right: 25px;
	height: 50px;
	line-height: 50px;
	color: rgb(230, 230, 230);
}
#dashboard-container .header {
	font-size: 20px;
	padding: 0 25px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	border-bottom: 1px solid rgb(230, 230, 230);
}

#dashboard .loop {
	width: auto;
	padding: 0;
}
#dashboard .loop .header .heading {
	float: left;
	font-weight: 600;
	font-size: 14px;
}
#dashboard .loop .new-link {
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	background: $main-blue;
	@include border-radius(4px);
	font-size: 13px;
	padding: 0 25px;
	text-align: center;
	font-weight: 400;
	color: #FFF;
	position: relative;
	top: 10px;
	margin-left: 10px;
}
#dashboard .loop .body {
	margin-top: 0;
}
#dashboard .loop .body .no-results {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	display: block;
	color: rgb(200, 200, 200);
	padding: 25px;
}
#dashboard .loop .record {
	border: none;
	border-bottom: 1px solid rgb(230, 230, 230);
}
#dashboard .loop .record .link {
	display: block;
	height: 50px;
	line-height: 50px;
	color: $main-blue;
	padding-left: 25px;
	font-size: 14px;
}
