.timeline_item {
	border-bottom: 1px solid rgb(240, 240, 240);
	font-size: 15px;
}
.timeline_item:nth-child(even) {
	background: rgb(250, 250, 250);
}
.timeline_item .container {
	float: left;
	border-right: 1px solid rgb(250, 250, 250);
	padding: 15px;
}
.timeline_item .time {
	width: 120px;
	text-align: right;
	font-weight: 600;
	font-size: 13px;
}
.timeline_item .description {
	width: 400px;
}