<div class='uploads loop'>
	
	<div class='header'>
		<h2 class='heading'>Files</h2>
		<%= link_to 'Upload files »', new_event_upload_path(@event), class: 'new-link' %>
	</div>
	
	<div class='body'>
		<% if @uploads.reload.exists? %>

			<% @uploads.each do |upload| %>

				<%= render 'uploads/single', upload: upload %>

			<% end %>

		<% else %>

			<span class='no-results'>No uploads here</span>

		<% end %>
	</div>
	
</div>