<div id='new-account-wrap'>
	<div class='splash'>
		<h1 class='header'>Coordinate smarter with <%= application_name %></h1>
		<p class='content'>Use our technology and become the world's best coordinator.</p>
	</div>
	<div class='sign-up'>
		<%= render 'accounts/forms/new' %>
	</div>
	<div class='clear'>
		
	</div>
</div>
